{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "body-full-stop": [
      2,
      "never",
      "."
    ],
    "type-enum": [
      2,
      "always",
      [
        "build",
        "chore",
        "ci",
        "docs",
        "feat",
        "fix",
        "perf",
        "refactor",
        "revert",
        "style",
        "test"
      ]
    ],
    "scope-enum": [
      2,
      "always",
      [
        "books",
        "authors",
        "readings",
        "literary-genres",
        "config",
        "database",
        "dto",
        "entity",
        "env",
        "infra",
        "tooling",
        "users",
        "ai"
      ]
    ],
    "subject-case": [
      2,
      "never",
      [
        "start-case",
        "pascal-case",
        "upper-case"
      ]
    ],
    "subject-full-stop": [
      2,
      "never",
      "."
    ]
  }
}
