PORT=3001
FRONTEND_ORIGIN=http://localhost:5173

NODE_ENV=DEVELOPMENT

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=neural-book-rec-db

DATABASE_URL=postgresql://root:root@localhost:5432/neural-book-rec-db
